h1,
h2 {
  font-family: Lato;
  text-align: center;
  text-transform: capitalize;
  color: blue;
}
#app {
  text-align: center;
}
button {
  padding: 15px 30px;
  text-transform: capitalize;
  color: #000;
  background-color: aqua;
  border: 0;
  box-shadow: 0 0px 45px 0px rgb(155, 155, 155);
  border-radius: 5px;
  transform: 0.5s;
}
button:hover {
  color: white;
  background-color: blue;
}
